syntax: glob
py2env
*.pyc
media
bin
build
dist
include
lib
.Python
.DS_Store
*.sublime-*
executor.cfg
*.orig
*.tar.gz
web/database.sqlite
.coverage
.vagrant
*.egg-info
*static-production*
*terraform.tfvars*
*terraform.tfstate*
web/venv/pip-selfcheck.json
web/venv/man/man1/tqdm.1
