syntax: glob
py2env
*.pyc
media
bin
build
include
lib
.Python
.DS_Store
*.sublime-*
executor.cfg
*.orig
*.tar.gz
web/database.sqlite
web/htmlcov
.coverage
.vagrant
*.egg-info
*static-production*
*terraform.tfvars*
*terraform.tfstate*
*pip-selfcheck.json*
*venv*
*.bak*
*.whl
docs/formats/html/.buildinfo
docs/formats/html/.buildinfo
docs/formats/html/.buildinfo
docs/formats/html/.buildinfo
