syntax: glob
opensubmit.sublime-workspace
*.pyc
media
bin
build
include
lib
.Python
.DS_Store
executor.cfg
*.orig
*.tar.gz
web/database.sqlite
.coverage
.vagrant
*.egg-info
*static-production*
*pip-selfcheck.json*
*venv*
*.bak*
*.whl
docs/formats/html/.buildinfo
*htmlcov*
docs/formats/html/_sources/modules.rst.txt
docs/formats/html/modules.html
docs/modules.rst
google_account.json
terraform.tfstate
terraform.tfstate.backup
.terraform*
settings_dev.ini