include manage.py
include setup.py
include requirements.txt
include README.md
include opensubmit/settings.ini.template
recursive-include opensubmit *.py
graft opensubmit/migrations
graft opensubmit/static
graft opensubmit/templates
graft opensubmit/templatetags
recursive-include executor_api *.py
graft executor_api/migrations
