{% extends "base_error.html" %}

{% block title %}500 - Internal Server Error{% endblock %}

{% block content %}
<h1>Ooops.</h1>
<p>OpenSubmit ran into an internal error and silently crashed. Your browsers 'Back' button may help to save your work so far.</p>
<p>The developers are informed. You can check if your problem <a href="https://github.com/troeger/opensubmit/issues">is already known</a>.</p>
<p>Sorry for any inconvinience!</p>
<h6>“There are two ways to write error-free programs; only the third one works.” - Alan J. Perlis</h6>
{% endblock %}
