{% extends "base.html" %}
{% load projecttags %}

{% block title %}
    {{ block.super }} - Dashboard
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Dashboard</h1>
    <h6>{{ user.get_full_name }} &lt;{{ user.email }}&gt; </h6>
</div>

{%with assign_missed=user.profile.gone_assignments assignments=user.profile.open_assignments%}

<section>
    <h3>Open</h3>
    {% if not user.profile.user_courses %}
        Seems like you don't have any courses configured. You should <a href="{% url 'courses' %}">change that</a>.
    {% else %}
        {% if assignments %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Course</th>
                        <th>Assignment</th>
                        <th>Deadline</th>
                        <th>Group work</th>
                        <th>Graded</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for assignment in assignments %}
                        {% if  assignment.publish_at > today %}
                            <tr style="color:gray;font-style: italic;">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td><a href="{{ assignment.course.homepage }}">
                                    {{ assignment.course }}
                                </a>
                            </td>
                            <td><a href="{{ assignment.url }}">
                                    {{ assignment }}
                                </a>
                                {% if  assignment.publish_at > today %}
                                    (will be published on <br/>{{ assignment.publish_at }})
                                {% endif %}
                    
                    			{% if assignment.attachment_test_validity and assignment.validity_script_download %}
                			 	   <br/>
                                   <a href="{% url 'validity_script' assignment.pk %}">(Validation script)</a>
    		                  	{% endif %}
    			            </td>
                            <td>{% deadline_timeout assignment %}</td>
                            <td>{% if assignment.max_authors > 1%}Yes ({{assignment.max_authors}}){% else %}No{% endif %}</td>
                            <td>{% if assignment.is_graded %}Yes{% else %}No{% endif %}</td>
                            <td><a href="{% url 'new' assignment.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Submission</a></td>
                        </tr>
                    {% endfor %}                    
                </tbody>
            </table>
        {% else %}
            Nothing at the moment.
        {% endif %}
    {% endif %}
</section>

<section>
    <h3>In Progress</h3>
    {% if subs_in_progress %}
    <table class="table">
        <thead>
            <tr>
                <th>Course</th>
                <th>Assignment</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for submission in subs_in_progress %} 
                <tr {% if submission.passed or submission.failed %}style="font-style: italic"{%endif%}>
                    <td><a href="{{ submission.assignment.course.homepage }}">{{ submission.assignment.course }}</a></td>
                    <td><a href="{{ submission.assignment.url }}">{{ submission.assignment }}</a></td>
                    <td>{% deadline_timeout submission.assignment %}</td>
                    <td>
                        <span class="{{ submission|state_label_css }}">{{ submission.state_for_students }}</span>
                    </td>
                    <td style="white-space: nowrap;">
                        <a href="{% url 'details' submission.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span> Details</a>
                        {% if submission.can_reupload or submission.can_withdraw %}
                        {% endif %}
                        {% if submission.can_reupload %}
                            <a href="{% url 'update' submission.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-upload"></span> Re-upload</a>
                        {% endif %}
                        {% if submission.can_withdraw %}
                            <a href="{% url 'withdraw' submission.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Withdraw</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        Nothing at the moment.
    {% endif %}
</section>

<section>
    <h3>Finished</h3>
    {% if subs_finished or assign_missed%}
    <table class="table">
        <thead>
            <tr>
                <th>Course</th>
                <th>Assignment</th>
                <th>Deadline</th>
                <th>Submitted</th>
                <th>Grading</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for submission in subs_finished %} 
                <tr>
                    <td><a href="{{ submission.assignment.course.homepage }}">{{ submission.assignment.course }}</a></td>
                    <td><a href="{{ submission.assignment.url }}">{{ submission.assignment }}</a></td>
                    <td>{% deadline submission.assignment %}</td>
                    <td>{{ submission.created }}</td>
                    <td>{% grading submission %}</td>
                    <td style="white-space: nowrap;">
                        <a href="{% url 'details' submission.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span> Details</a>
                        {% if submission.can_reupload or submission.can_withdraw %}
                        {% endif %}
                        {% if submission.can_reupload %}
                            <a href="{% url 'update' submission.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-upload"></span> Re-upload</a>
                        {% endif %}
                        {% if submission.can_withdraw %}
                            <a href="{% url 'withdraw' submission.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Withdraw</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% for assign in assign_missed %}
                <tr>
                    <td><a href="{{ assign.course.homepage }}">{{ assign.course }}</a></td>
                    <td><a href="{{ assign.url }}">{{ assign }}</a></td>
                    <td>{% deadline assign %}</td>
                    <td>never</td>
                    <td>-</td>
                    <td>&nbsp;</td>                   
                </tr>

            {% endfor %}
        </tbody>
    </table>
    {% else %}
        Nothing at the moment.
    {% endif %}
</section>

{% endwith %}

<section>
    {% if machines %}
        <h3>Test Machines</h3>
        <ul class="list">
        {% for machine in machines %}
            <li><a href="{% url 'machine' machine.pk %}">{{ machine }}</a></li>
        {% endfor %}
    {% endif %}
</ul>
</section>

{% endblock %}
