{% extends "base_admin.html" %}

{% load projecttags %}
{% load bootstrap %}

{% block scripts %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}DataTables/datatables.min.css"/>
<script type="text/javascript" src="{{STATIC_URL}}DataTables/datatables.min.js"></script>
{% endblock %}

{% block docready %}
{{ block.super }}
var table=$('#duplicates').DataTable( 
	{
		paging: false,
		order: [[ 0, "asc" ], [2, "asc"], [3, "asc"], [5, "asc"]]
	});
{% endblock %}

{% block title %}
    {{ block.super }} - Duplicate Report
{% endblock %}

{% block breadcrumbs %}
    <ul>
        <li><a href="{% url 'teacher:index' %}">Home</a></li>
        <li> Duplicates</li>
    </ul>
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Duplicate Report</h1>
</div>

Hint: Use the Shift key for sub-ordering of columns.

<table id="duplicates" class="table table-bordered table-condensed table-hover">
<thead>
	<tr>
		<th>Content hash</th>
		<th>Submission</th>
		<th>Course</th>
		<th>Assignment</th>
		<th>Authors</th>
		<th>Last change</th>
		<th>Grading finished?</th>
		<th>Grading Notes</th>
	</tr>
</thead>
<tbody>
{% regroup files by md5 as duplicates %}
{% for duplicate_set in duplicates %}
	{% if duplicate_set.list|length > 1 %}
			{% for submfile in duplicate_set.list %}
			{% with submission=submfile.submissions.all.0 %}
				<tr>
					<td>{{ duplicate_set.grouper }}</td>
					{% url 'teacher:opensubmit_submission_change' submission as suburl %}
					<td><a href="{{ suburl }}" target="_new">#{{submission}}</a> (<a href="{{ submfile.get_preview_url }}" target="_new">file preview</a>)</td>
					<td>{{ submission.assignment.course }}</td>
					<td>{{ submission.assignment }}</td>
					<td>{{ submission.authors.all|join:", " }}</td>
					<td>{{ submission.modified }}
					<td>{% if submission.is_grading_finished %}Yes ({{submission.grading}}){% else %}No{%endif%} </td>
					<td>{{ submission.grading_notes|default_if_none:""}}</td>
				</tr>
			{% endwith %}
			{% endfor %}
	{% endif %}
{% endfor %}
</tbody>
</table>

{% endblock %}

