{% extends "base.html" %}
{% load projecttags %}
{% load bootstrap %}

{% block title %}
    {{ block.super }} - Grading Table
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Grading Table - {{ course }}</h1>
</div>

<table class='table'>
	<thead>
		<tr>
			<th>#</th>
			<th>Last Name</th>
			<th>First Name</th>
			<th>Student ID</th>
			{% for assignment in assignments %}
				<th>{{ assignment.title }}</th>
			{% endfor %}
			<th>Passed assignments</th>
			<th>Sum of gradings</th>
		</tr>
	</thread>
	<tbody>
	{% for row in resulttable %}
		<tr>
			<td>{{ forloop.counter }}</td>
			{% for col in row %}
			<td nowrap>
				{{ col }}
				{% if col.means_passed %}
					(<img src="{{ STATIC_URL }}admin/img/icon-yes.gif"/>)
				{% endif %}
			</td>
			{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
