{% extends "admin/base.html" %}

{% load projecttags %}
{% load bootstrap %}

{% block title %}
    {{ block.super }} - eMail
{% endblock %}

{% block breadcrumbs %}
    <ul>
        <li><a href="{% url 'teacher:index' %}">Home</a></li>
        <li><a href="javascript:history.back()">Write eMail</a></li>
        <li>Preview</li>
    </ul>
{% endblock %}

{% block extrastyle %}
<link href="/static/css/teacher.css" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>eMail Preview</h1>
</div>

<form class="form" role="form" action="" method="post">
	{% csrf_token %}
    {% for field in form %}{{ field.as_hidden }}{% endfor %}
    <input type="hidden" name="{{ stage_field }}" value="2" />
    <input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
	<input type="submit" value="Send {{ receivers|length }} eMails"></input>
</form>

{% for receiver in receivers %}
<hr/>
<p>To: {{ receiver.first_name }} {{ receiver.last_name }} &lt;{{receiver.email}}&gt;</p>
<p>From: {{ sender.first_name }} {{ sender.last_name }} &lt;{{sender.email}}&gt;</p>
<p>Subject: {{ form.subject.value|replace_macros:receiver }}</p>
<br/>
<p>{{ form.message.value|replace_macros:receiver|linebreaksbr }}</p>
{% endfor %}
<hr/>


{% endblock %}
