{% extends "base.html" %}
{% load projecttags %}
{% load bootstrap %}

{% block title %}
    {{ block.super }} - eMail
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>eMail - {{ course }}</h1>
</div>

<p>Example:</p>

From:
<pre>{{ preview_from }}</pre>

Subject:
<pre>{{ preview_subject }}</pre>

Message:
<pre>{{ preview_message }}</pre>

<form class="form" role="form" action="." method="post">
	{% csrf_token %}
	<a href="javascript:history.back()" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Edit Again</a>
	<button type="submit" href="." class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Send</button>
</form>

{% endblock %}
