{% extends "base.html" %}
{% load bootstrap %}

{% block title %}
    {{ block.super }} - New Submission
{% endblock %}

{% block docready %}
$('#id_authors').multiselect({
   enableFiltering: true,
   enableCaseInsensitiveFiltering: true,
});
$('#id_authors').multiselect('select', {{ user.pk }});
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        New Submission
        <br/>
        <small>{{ assignment }} ({{ assignment.course }})</small>
    </h1>
</div>

{% if assignment.attachment_is_tested or assignment.max_authors > 1 %}
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <h4>Please note:</h4>
            {% if assignment.attachment_is_tested %}
                Your upload is automatically tested for validity.
                You can find further information in the <a href="{{ assignment.download }}">assignment description</a>.
                {% if assignment.test_machines.all %}
                    The following test machines will be used for this assignment:
                    <ul class="list">
                    {% for machine in  assignment.test_machines.all %}
                        <li><a href="{% url 'machine' machine.pk %}">{{ machine }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            {% if assignment.max_authors > 1 %}
                <br/>A maximum of {{ assignment.max_authors }} author(s) is allowed. You are added automatically.
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <form class="form" role="form" action="." method="post" enctype="multipart/form-data">
            {% csrf_token %} 
            {{ submissionForm|bootstrap }}
            <button type="submit" href="." class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Save</button>
        </form>
    </div>
</div>
{% endblock %}
