{% extends "base.html" %}
{% load projecttags %}
{% load bootstrap %}

{% block title %}
    {{ block.super }} - Update Submission Files
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Update Submission File</h1>
</div>

{% details_table submission %}

<p>Please update your notes and your submission files as neccessary.<br/>For changing the authors, you need to withdraw this solution.</p>


<div class="row">
    <div class="col-md-12">
        <form class="form" role="form" action="." method="post" enctype="multipart/form-data">
            {% csrf_token %} 
            {{ form|bootstrap }}
            <button type="submit" href="/update/{{submission.pk}}" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Save</button>
        </form>
    </div>
</div>


{% endblock %}
