{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% load projecttags %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "social-buttons/auth-buttons.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/screen.css" %}" />
{% endblock %}



{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

{% include "login_buttons.inc" %}

<hr/>
{% include "footer.html" %}
{% endblock %}
