{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% load projecttags %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div style="text-align: center; margin: 20px">
    <form action="{% url 'login' %}" method="GET">
        <input type="hidden" name="authmethod" value="openid" />
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        <img src="{{ STATIC_URL }}images/openid-logo.png" width="51" height="51"/>
        <input type="submit" value="{% setting 'LOGIN_DESCRIPTION' %}" class="btn"/>
    </form>
</div>

<hr/>
{% include "teacher/footer.html" %}
{% endblock %}
