{% extends "base.html" %}
{% load projecttags %}

{% block title %}
    {{ block.super }} - Dashboard
{% endblock %}

{% block docready %}
    $('.codepopup').popover({placement: 'left', title: 'Test output'})
{% endblock %}


{%block navigation_home %}hidden{% endblock %}
{%block navigation_settings %}hidden{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Dashboard</h1>
    <h6>{{ username }}</h6>
</div>

<section>
    <h3>Open Assignments</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Course</th>
                <th>Assignment</th>
                <th>Time Left</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for assignment in assignments %} 
                <tr>
                    <td>{{ assignment.course }}</td>
                    <td>{{ assignment }}</td>
                    <td>{% if assignment.soft_deadline %}{{ assignment.soft_deadline|timeuntil }} (submission still possible){%else %}{{ assignment.hard_deadline|timeuntil }}{% endif %}</td>
                    <td><a href="/assignments/{{ assignment.pk }}/new/" class="btn"><i class="icon-plus"></i>New Solution</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section>
    <h3>Your Solutions</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Course</th>
                <th>Assignment</th>
                <th>Submitted</th>
                <th>Authors</th>
                <th>Files</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for submission in authored %} 
                <tr {% if submission.is_withdrawn %}style="font-style: italic; color: lightgray"{%endif%}>
                    <td>{{ submission.assignment.course }}</td>
                    <td>{{ submission.assignment }}</td>
                    <td>{{ submission.created }}<br/>by {{ submission.submitter.get_full_name }}</td>
                    <td>{{ submission.authors_list|safeseq|join:"<br/>" }}</td>
                    <td>
                        {% for file in submission.files.all %}
                            {% if file.output and file.error_code and not submission.is_withdrawn %}
                                <a href="#" class="btn codepopup" rel="popover" data-content="{{ file.output }}">Test result<br/>(error code {{ file.error_code }})</a>
                            {% else %}
                                {{ file.attachment|basename }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ submission.get_state_display }}</td>
                    <td>
                        {% if submission.can_withdraw %}
                            <a href="/withdraw/{{submission.pk}}" class="btn btn-danger"><i class="icon-white icon-trash"></i> Withdraw</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<div id="delconfirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Confirmation" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>

{% endblock %}