{% extends "base.html" %}
{% load projecttags %}
{% load url from future %}

{% block title %}
    {{ block.super }} - Dashboard
{% endblock %}

{%block navigation_home %}hidden{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Dashboard</h1>
    <h6>{{ username }}</h6>
</div>

<section>
    <h3>Open Assignments</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Course</th>
                <th>Assignment</th>
                <th>Time Left</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for assignment in assignments %} 
                <tr>
                    <td>{{ assignment.course }}</td>
                    <td>{{ assignment }}</td>
                    <td>{% if assignment.soft_deadline %}{{ assignment.soft_deadline|timeuntil }}{%else %}{{ assignment.hard_deadline|timeuntil }}{% endif %}</td>
                    <td><a href="{% url 'new' assignment.pk %}" class="btn"><i class="icon-plus"></i> New Solution</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section>
    <h3>Your Solutions</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Course</th>
                <th>Assignment</th>
                <th>Submitted by</th>
                <th>Authors</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for submission in authored %} 
                <tr {% if submission.is_withdrawn or submission.passed or submission.failed %}style="font-style: italic; color: lightgray"{%endif%}>
                    <td>{{ submission.assignment.course }}</td>
                    <td>{{ submission.assignment }}</td>
                    <td>{{ submission.submitter.get_full_name }}</td>
                    <td>{{ submission.authors.all|safeseq|join:"<br/>" }}</td>
                    <td>
                            <a href="#" class="label {% if submission.green_tag %}label-success{% endif %}{% if submission.red_tag %}label-important{% endif %}">{{ submission.get_state_display }}</a>
                    </td>
                    <td style="white-space: nowrap;">
                        <a href="{% url 'details' submission.pk %}" class="btn"><i class="icon-th-list"></i> Details</a>
                        {% if submission.can_reupload or submission.can_withdraw %}
                        {% endif %}
                        {% if submission.can_reupload %}
                            <a href="{% url 'update' submission.pk %}" class="btn"><i class="icon-upload"></i> Re-upload</a>
                        {% endif %}
                        {% if submission.can_withdraw %}
                            <a href="{% url 'withdraw' submission.pk %}" class="btn"><i class="icon-trash"></i> Withdraw</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}
