{% extends "base.html" %}

{% load url from future %}

{% block scripts %}
{{ block.super }}
{% endblock %}

{% block style %}
{{ block.super }}
{% endblock %}

{% block docready %}
{{ block.super }}
{% endblock %}

{%block navigation_home %}hidden{% endblock %}
{%block navigation_settings %}hidden{% endblock %}
{%block navigation_logout %}hidden{% endblock %}

{% block content %}
<br/>
<div class="page-header">
    <h1>
        Welcome <br/>
        <small>Assignment Management and Submission System</small>
    </h1>
</div>

<section>
    <div style="text-align: center;">
        <form action="{% url 'login' %}" method="GET">
            <input type="hidden" name="authmethod" value="openid" />
            <img src="{{ STATIC_URL }}images/openid-logo.png" width="51" height="51"/>
            <input type="submit" value="{{ login_description }}" class="btn"/>
        </form>
    </div>
</section>
<section>
    <div style="text-align: center;">
        <form class="form-inline" action="{% url 'login' %}" method="POST">
             {% csrf_token %}
            <input type="hidden" name="authmethod" value="passwd" />
            <input type="text" class="form-control"  name="username" placeholder="User name"/>
            <input type="password" class="form-control"  name="password" placeholder="Password"/>
            <input type="submit" value="Sign in" class="btn btn-default"/>
        </form>
    </div>
</section>
<section>
    <div style="text-align: center;">
        <form class="form-inline" action="{% url 'register' %}" method="POST">
             {% csrf_token %}
            <p>Having no account and a course key ? Please enter it here:</p>
            <input type="text" class="form-control"  name="key" placeholder="Course key"/>
            <input type="submit" value="Register" class="btn btn-default"/>
        </form>
    </div>
</section>
{% endblock %}
