{% extends "base.html" %}
{% load projecttags %}
{% load bootstrap %}

{% block title %}
    {{ block.super }} - Test Machine Details
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Test Machine Details</h1>
</div>

<h3>Last contact</h3>
{{ machine.last_contact }}

<h3>Current job queue</h3>
<table class="table">
{% for subm in queue %}
	<tr><td>{{ subm.assignment.course }}</td><td>{{ subm.assignment }}</td><td>{{ submission.authors.all|join:", " }}</td></tr>
{% endfor %}
</table>

{% endblock %}
