{% extends "base.html" %}

{% block title %}
    {{ block.super }} - New Submission
{% endblock %}

{% block style %}
{{ block.super }}
@import url("{{ STATIC_URL }}chosen/chosen.css");
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}chosen/chosen.jquery.min.js"></script>
{% endblock %}

{% block docready %}
$('#id_authors').chosen({max_selected_options: {{assignment.course.max_authors}} });
{% endblock %}

{%block navigation_settings %}hidden{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        New Submission<br/>
        <small>{{ assignment.course }}</small><br/>
        <small>{{ assignment }}</small>
    </h1>
</div>

<form action="." method="post" enctype="multipart/form-data">
 {% csrf_token %}
<table>
{{ submissionForm }}
</table>
<table>
{{ filesForm }}
</table>
<input type="submit" class="btn"/>
</form>

{% endblock %}