{% extends "base.html" %}

{% block title %}
    {{ block.super }} - New Submission
{% endblock %}

{% block style %}
{{ block.super }}
@import url("{{ STATIC_URL }}chosen/chosen.css");
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}chosen/chosen.jquery.min.js"></script>
{% endblock %}

{% block docready %}
$('#id_authors').chosen({max_selected_options: {{assignment.course.max_authors}} });
{% endblock %}

{%block navigation_settings %}hidden{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        New Submission<br/>
        <small>{{ assignment }} ({{ assignment.course }})</small>
    </h1>
</div>

<div class="hero-unit">
	<h4>Please note:</h4>
	{% if assignment.test_attachment %}
		<p>
			Your file attachment is automatically tested for validity. Invalid submissions are
			not accepted for grading.<br/>Validations are processed in order of arrival, you will be informed by eMail. A valid upload fulfills at least the following conditions:
		</p>
			<ul>
				<li>The uploaded file is a TGZ or ZIP archive.</li>
				<li>"Must build" - After unpacking, a 'make' call can be issued to build the sources.</li>
				<li>"Must run" - After successful building, the application can be executed by 'make run'. A successful application terminates with exit code 0.</li>
				{% if assignment.test_script %}
				<li>"Must work" - After application execution, it is validated if your solution produced the neccessary output files, as demanded by the <a href="{{ assignment.download }}">assignment description</a>.</li>
				{% endif %}
			</ul>
		<p>
			The console output and exit code is shown in the Dashboard.			
		</p>
	{% else %}
		<p>
	    	You can find further information in the <a href="{{ assignment.download }}">assignment description</a>.
	    </p>
	{% endif %}
	{% if assignment.course.max_authors > 1 %}
		<p> A maximum of {{ assignment.course.max_authors }} author(s) is allowed. Don't forget to add yourself.
		</p>
	{% endif %}
</div>

<form action="." method="post" enctype="multipart/form-data">
 {% csrf_token %}
<table>
{{ submissionForm }}
</table>
{% if assignment.has_attachment %}
	<table>
	{{ filesForm }}
	</table>
{% endif %}
<p>
<button type="submit" href="." class="btn"><i class="icon icon-ok"></i> Submit</button>
</p>
</form>

{% endblock %}