{% extends "base.html" %}
{% load projecttags %}
{% load bootstrap %}

{% block title %}
    {{ block.super }} - Update Submission Files
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        Update Submission Files<br/>
        <small>{{ submission.assignment.course }}, {{ submission.assignment }}</small><br/>
        <small> Submission by {{ submission.submitter.get_full_name }} on {{ submission.created }}</small><br/>

        <small>Authors: {{ submission.authors.all|safeseq|join:",&nbsp;" }}</small>
    </h1>
</div>

<p>
    <code>{{ submission.file_upload.attachment|basename }}</code> (Last test result: {{ submission.file_upload.error_code }})
</p>
<p>
	This file will be removed and replaced by the following one:
</p>

<form action="." method="post" enctype="multipart/form-data" class="form-horizontal">
 {% csrf_token %}
<table>
{{ fileForm|bootstrap }}
</table>
<br/>
<button type="submit" href="/update/{{submission.pk}}" class="btn"><i class="icon icon-ok"></i> Save</button>

</form>

{% endblock %}