.grp-link-internal {
    color: black;
    font-size: 9pt;
}

strong {
    color: black;
    font-weight: normal;
    font-size: 9pt;
}

.grp-font-color, body {
    color: #3b3131;
}

table thead th {
    color: #3b3131;
}

table thead th a{
    color: black;
}

a{
    color: black;
}

.grp-pagination ul li a {
	color: black;
}

