{% extends "base.html" %}

{% load projecttags %}

{% block scripts %}
{{ block.super }}
{% endblock %}

{% block style %}
{{ block.super }}
@import url("{{ STATIC_URL }}social-buttons/auth-buttons.css");
{% endblock %}

{% block docready %}
{{ block.super }}
{% endblock %}

{%block navigation_home %}hidden{% endblock %}
{%block navigation_settings %}hidden{% endblock %}
{%block navigation_courses %}hidden{% endblock %}
{%block navigation_logout %}hidden{% endblock %}

{% block content %}
<br/>
<div class="page-header">
    <h1>
        Welcome <br/>
        <small>Assignment Management and Submission System</small>
    </h1>
</div>

<section>
    <div class="row">
            <div class="col-2">
                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn-auth btn-google"><b>Google</b></a>
            </div>
            <div class="col-2">
                <a href="{% url 'social:begin' 'twitter' %}?next={{ next }}" class="btn-auth btn-twitter"><b>Twitter</b></a>
            </div>
            <div class="col-2">
                <a href="{% url 'social:begin' 'github' %}?next={{ next }}" class="btn-auth btn-github"><b>GitHub</b></a>
            </div>
            <div class="col-2">
                <a href="{% url 'social:begin' 'openid' %}?next={{ next }}" class="btn-auth btn-openid"><b>{% setting 'LOGIN_DESCRIPTION' %}</b></a>
            </div>
    </div>
</section>

{% endblock %}
