{% extends "base.html" %}

{% load url from future %}

{% block scripts %}
{{ block.super }}
{% endblock %}

{% block style %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}social-buttons/auth-buttons.css">
{% endblock %}

{% block docready %}
{{ block.super }}
{% endblock %}

{%block navigation_home %}hidden{% endblock %}
{%block navigation_settings %}hidden{% endblock %}
{%block navigation_courses %}hidden{% endblock %}
{%block navigation_logout %}hidden{% endblock %}

{% block content %}
<br/>
<div class="page-header">
    <h1>
        Welcome <br/>
        <small>Assignment Management and Submission System</small>
    </h1>
</div>

<section>
    <h5>Please use one of these authentication methods: </h5>

        <div class="row">
            <div class="col-2">
                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn-auth btn-google"><b>Google</b></a>
            </div>
            <div class="col-2">
                <a href="{% url 'social:begin' 'twitter' %}?next={{ next }}" class="btn-auth btn-twitter"><b>Twitter</b></a>
            </div>
            <div class="col-2">
                <a href="{% url 'social:begin' 'github' %}?next={{ next }}" class="btn-auth btn-github"><b>GitHub</b></a>
            </div>
<!--        <div class="col-2">
                <a href="{% url 'social:begin' 'yahoo-oauth2' %}?next={{ next }}" class="btn-auth btn-yahoo"><b>Yahoo!</b></a>
            </div>
            <div class="col-2">
                <a href="{% url 'social:begin' 'live' %}?next={{ next }}" class="btn-auth btn-windows"><b>Live</b></a>
            </div>
-->         <div class="col-4">
                <form action="{% url 'social:begin' 'openid' %}?next={{ next }}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <label for="openid_identifier">
                        <span class="btn-auth btn-openid"><b>OpenID</b></span>
                    </label>
                    <input id="openid_identifier" name="openid_identifier" type="text" value="https://" />
                    <input id="submit_url" name="submit_url" type="submit" value="Sign-In"/>
                </form>
            </div>
        </div>
        {% if debug %}
        <div>
                <a href="{% url 'social:begin' 'username' %}?next={{ next }}"><b>Developer Login</b></a>
        </div>
        {% endif %}

{% endblock %}
