# Files and directories to include in packaging that are NOT Python packages
#
# Using include_package_data for describing the additional includes below works
# in theory, but does not support directory traversal, which is especially
# annoying with the 'static' directory. We could also make everything below a pseudo-package
# by giving them a __init__.py file, which is too much of a hack.
#
# Therefore, we just list them here.

include opensubmit/settings.ini.template
include requirements.txt
include README.rst
graft opensubmit/static
graft opensubmit/templates
graft opensubmit/templatetags
include VERSION

