Django>=1.9,<1.10
django-bootstrap-form
djangorestframework>=2.4
django-grappelli>=2.8.1
requests>=2.5.1
pycrypto
pyjwkest
python-social-auth
python-openid
python-oauth2
oauthlib>=0.6.2
blti
